<div id="info_panel" class="cultivar-info-container">
    <div class="image-container">
        <%= image_tag "https://placehold.co/480x200", class: "cultivar-image" %>
    </div>
    <div class="headline-info">
        <div class="name-row">
            <h2 id="cultivar-name"><%= current_cultivar.name %></h2>
        </div>
        <div class="stats-row">
            <div class="plants">20 plants</div> <div class="favorites">300 favorites</div>
        </div>
        <div class="icon-row">
            <%= link_to add_favorite_path, data: {"turbo-method": :post, "action": "map#addFavorite", "map-id-param": current_cultivar.id}  do %>
                <%= show_svg("heart-icon.svg") %>
            <% end %>
            <%= link_to add_favorite_path, data: {"turbo-method": :post} do %>
                <%= show_svg("map-icon.svg") %>
            <% end %>
            <%= link_to add_favorite_path, data: {"turbo-method": :post} do %>
                <%= show_svg("camera-icon.svg") %>
            <% end %>
        </div>
    </div>
    <div class="info-body">
        <div class="intro-year-row">z
            introduced 19995
        </div>
        <div class="seasonality-row">
            double bloom baby
        </div>
        <div class="description-row">
            this plant smells like ass -- and other important facts
        </div> 

    </div>
</div>    