<div id="info-panel-container" data-controller="info-panel">
    <h2><%= current_cultivar.name %></h2>
    <% if logged_in? %>
    <%= link_to "Hide info panel", hide_info_panel_path, data: {"turbo-method": :post} %>
    <% if current_user.favorited?(current_cultivar) %>
        <p> You love this plant!</p>
        <%= link_to "Unlove this cultivar", favorite_cultivar_path(id: current_cultivar.id), data: {"turbo-method": :post} %>
    <% else %>
        <%= link_to "Fave this cultivar", favorite_cultivar_path(id: current_cultivar.id), data: {"turbo-method": :post} %>
    <% end %>
<% else %>
    <%= link_to "Log in", login_path %>
<% end %>

</div>    