<%= puts current_cultivar %>

<div id="info_panel">
    <% if !current_cultivar.nil? %> 
        <%= puts current_cultivar.name %>
        <h1 id="cultivar_name"><% current_cultivar.name %></h1>
        <% if logged_in? %>
            <%= link_to "Hide info panel", hide_info_panel_path, data: {"turbo-method": :post} %>
            <%= render 'map/favorite_form', current_cultivar: current_cultivar %>
        <% else %>
            <%= link_to "Log in", login_path %>
        <% end %>
<% end %>

</div>    