<div class="wrapper" data-controller="map" >
    <%= render 'layouts/header' %>
    <%= render 'search/form' %>
    <div id="map-container"  data-rose-icon-path="<%= asset_path('rose-icon.svg') %>" data-heart-icon-path="<%= asset_path('filled-heart-icon.svg') %>" >
    </div>
    <div class="info-panel-container">
        <div data-action="map#panToPlant" data-map-target="showById" data-map-show-by-id-plant-param="<%= @current_cultivar.get_first_plant.to_json %>"></div> 
      <%= render partial: 'info_panel/info_panel_states/single_cultivar', locals: {current_cultivar: @current_cultivar} %>
    </div>
</div>
