<!DOCTYPE html>
<html>
  <head>
    <title>BBG Roses</title>
    <%= favicon_link_tag asset_path('rose-favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <turbo-frame id="flash">
      <%= render 'shared/flash' %>
    </turbo-frame>
    <%= yield %>
    <div
    class="modal"
    tabindex="-1"
    aria-hidden="true"
    data-controller="modal"
    data-action="turbo:frame-load->modal#toggleModal turbo:submit-end->modal#closeModal">
    <div id="modal-background"></div>
    <div id="modal-dialog" class="modal-dialog">
      <div class="modal-content">
        <%= turbo_frame_tag "modal" %>
      </div>
    </div>
  </div>
</body>
  </body>
</html>
