<!DOCTYPE html>
<html>
  <head>
    <script>
      const appConfig = {
        mapboxToken:
          '<%= Rails.application.credentials.mapbox[:access_token] %>',
      };

      const roseIconPath = '<%= asset_path("rose-icon.svg") %>';
    </script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <title>Roses @ BBG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= javascript_importmap_tags %> <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
