<!DOCTYPE html>
<html>
  <head>
    <title>RoseGarden</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <% flash.each do | message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %> 
        </div>
      <% end %>     
    </div>
    <%= yield %>
    <div
    class="modal"
    tabindex="-1"
    data-controller="modal"
    data-action="turbo:frame-load->modal#toggleModal turbo:submit-end->modal#close"
  >
    <div id="modal-background"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <%= turbo_frame_tag "modal" %>
      </div>
    </div>
  </div>
</body>
  </body>
</html>
